.homeCards{
    cursor: pointer;
    transition: 0.7s;
}

.homeCards:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.title{
    animation: fadeIn 1.5s;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.iconCards{
    cursor: pointer;
    transition: 0.7s;
}

.iconCards:hover{
    transform: scale(1.02);
    box-shadow: 10px 0 10px rgba(0,0,0,0.5);
}